/* :root {
    --color-08: #000;
    --color-07: #1d1d1f;
    --color-06: #3A3A3B;
    --color-05: #555556;
    --color-04: #99999A;
    --color-03: #CCCCCF;
    --color-02: #E6E6E7;
    --color-01: #EEEEF1;
    --color-00: #fff;
} */

.main_visual {
    position: relative;
}

/* 메인 비주얼 */
.main_visual .main_bg {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.main_visual .main_bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* 페이지 인포 */
.main_visual .page_info {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 60px 100px 60px;
}

.main_visual .page_info .sub_info .making_tool {
    margin-bottom: 48px;
    /* 제일 밑에 위차하는 info는 48px 그 위로는 32px */
}

.main_visual .page_info .sub_info .tool_title {
    color: var(--color-03);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
}

.main_visual .page_info .sub_info .tool_program {
    display: inline-block;
    color: var(--color-01);
    font-size: 18px;
    font-weight: 500;
}

.main_visual .page_info .sub_info .tool_program>div {
    display: inline-block;
}

.main_visual .tool_program>div:not(:last-child)::after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 14px;
    background: rgba(255, 255, 255, 0.1);
    margin: auto 8px;
}

.main_visual .page_info .page_title {
    color: var(--color-00);
    font-size: 48px;
    font-weight: 700;
    line-height: 54px;
}

.main_visual .page_info .page_title .making_date {
    color: var(--color-03);
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    line-height: 16px;
}

/* 본문 시작 */

/* text_box Start */
/* .text_box{} */

.text_box .detail_box {
    padding: 0 60px;
}

.text_box .detail_box .inner {
    max-width: 1240px;
    margin: 120px auto;
}

.text_box .detail_box .detail_title {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-05);
    margin-bottom: 40px;
}

.text_box .detail_box .detail_text p {
    font-size: 32px;
    font-weight: 500;
    line-height: 54px;
    color: var(--color-07);
    margin-bottom: 60px;
}

.text_box .detail_box .detail_text span {
    font-size: 24px;
    font-weight: 400;
    color: var(--color-06);
}


/* solution_box Start */
.solution_box {
    padding: 0 60px;
    background-color: #F6F6F6;
}

.solution_box .solution:not(:first-child) {
    border-top: solid 1px var(--color-03);
}

.solution_box .sol {
    max-width: 1240px;
    margin: 0 auto;
    padding: 120px 0;
}

.solution_box .solution .img_title {
    font-size: 20px;
    font-weight: 600;
    color: var(--color-06);
    margin-bottom: 40px;
    text-align: center;
}

/* 키 워드 생략 */

/* 스토리보드 시작 */
.solution_box .sol.sb .board {
    display: flex;
    /* flex-direction: row; */
    gap: 40px;
}

.solution_box .sol.sb .board:not(:last-child) {
    margin-bottom: 40px;
}


.solution_box .sol.sb .board img {
    width: 730px;
    max-width: 100%;
    /* height: auto; */
}

.solution_box .sol.sb .board .sb_des {
    flex: 1;
    display: flex;
    border-top: solid 1px var(--color-06);
    border-bottom: solid 1px var(--color-06);
    align-items: center;
}

.solution_box .sol.sb .sb_des .des_title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-06);
}

.solution_box .sol.sb .sb_des .des_text {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-05);
    line-height: 28px;
}


/* 비디오 시작 */
.solution .sol.vv .view_video {
    position: relative;
}

.solution .sol.vv .view_video video {
    width: 1240px;
    max-width: 100%;
    display: block;
}

.solution .sol.vv .view_video .ppbtn {
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    /* 안 보일 땐 클릭 방지 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.solution .sol.vv .view_video:hover .ppbtn {
    opacity: 1;
    pointer-events: auto;
}

.solution .sol.vv .view_video.paused .ppbtn {
    opacity: 1;
    pointer-events: auto;
}




























/* 테블릿 */
@media (max-width: 1240px) {

    /* 공통요소 */
    .main_visual {
        position: relative;
    }

    /* 메인 비주얼 */
    .main_visual .main_bg {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .main_visual .main_bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* 페이지 인포 */
    .main_visual .page_info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 60px 60px 60px;
    }

    .main_visual .page_info .sub_info .info_box:not(:last-child) {
        margin-bottom: 32px;
    }

    .main_visual .page_info .sub_info .info_box:last-child {
        margin-bottom: 48px;
        /* 제일 밑에 위치하는 info는 48px 그 위로는 32px */
    }


    .main_visual .page_info .sub_info .info_title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .main_visual .page_info .sub_info .info_des {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
    }

    .main_visual .info_des>div:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 14px;
        margin: auto 8px;
    }

    .main_visual .page_info .page_title {
        font-size: 42px;
        font-weight: 700;
    }

    .main_visual .page_info .page_title .making_date {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    /* 본문 시작 */
}


/* 모바일 */
@media (max-width: 1024px) {

    /* 공통요소 */
    .img_title {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 20px;
        text-align: center;
    }

    .main_visual {
        position: relative;
    }

    /* 메인 비주얼 */
    .main_visual .main_bg {
        position: relative;
        width: 100%;
        height: 100vh;
        overflow: hidden;
    }

    .main_visual .backdrop {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0.3);
    }

    .main_visual .main_bg img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* 페이지 인포 */
    .main_visual .page_info {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 20px 60px 20px;
    }

    .main_visual .page_info .sub_info .info_box:not(:last-child) {
        margin-bottom: 32px;
    }

    .main_visual .page_info .sub_info .info_box:last-child {
        margin-bottom: 48px;
    }


    .main_visual .page_info .sub_info .info_title {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .main_visual .page_info .sub_info .info_des {
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
    }

    .main_visual .info_des>div:not(:last-child)::after {
        content: "";
        display: inline-block;
        width: 2px;
        height: 14px;
        margin: auto 8px;
    }

    .main_visual .page_info .page_title {
        font-size: 42px;
        font-weight: 700;
    }

    .main_visual .page_info .page_title .making_date {
        font-size: 16px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    /* 본문 텍스트 */
    .text_box .detail_box .detail_title {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .text_box .detail_box {
        padding: 0 20px;
    }

    .text_box .detail_box .detail_text p {
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }

    .text_box .detail_box .detail_text p:not(:last-child) {
        margin-bottom: 30px;
    }

    /* solution_box Start */
    /* 성진엔테크만 solution_box 컬러 설정값 다름!!!!! */
    .solution_box {
        padding: 0 20px;
    }

    .solution_box .detail_text p {
        font-size: 20px;
        font-weight: 500;
        line-height: 34px;
    }



    /* pi 전용 */
    .solution_box .solution .img_title {
        margin-bottom: 20px;
    }

    /* 스토리보드 시작 */
    .solution_box .sol.sb .board {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .solution_box .sol.sb .board:not(:last-child) {
        margin-bottom: 60px;
    }


    .solution_box .sol.sb .board img {
        width: 730px;
        max-width: 100%;
        /* height: auto; */
    }

    .solution_box .sol.sb .board .sb_des {
        flex: 1;
        display: flex;
        border-top: solid 1px var(--color-06);
        border-bottom: solid 1px var(--color-06);
        align-items: center;
    }

    .solution_box .sol.sb .board .sb_des .inner {
        padding: 20px 0;
    }

    .text_box .detail_box .detail_text span {
        font-size: 18px;
    }

}