html,
body {
    background-color: var(--color-01);
    color: var(--color-07);
}

/* 빠른 참고, 레귤러 400, 미디움 500, 세미볼드 600, 볼드 700,  */

/* 공통 */
:root {
    /* color 00=fff 08=000 */
    --color-08: #000;
    --color-07: #1d1d1f;
    --color-06: #3A3A3B;
    --color-05: #555556;
    --color-04: #99999A;
    --color-03: #CCCCCF;
    --color-02: #E6E6E7;
    --color-01: #EEEEF1;
    --color-00: #fff;
}

.ft_aggro {
    font-family: aggro;
    letter-spacing: -0.03em;
}

.ft_xe {
    font-family: xeicon !important;
    letter-spacing: -0.03em;
}



/* header Staret */
header {
    /* position: fixed;
    top: 0; */
    display: flex;
    padding: 0 60px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
    z-index: 2;
}

header.fix {
    left: 0px;
}

/* 로고영역 */
header h1 a {
    display: inline-block;
    font-size: 26px;
    font-weight: 600;
}

header h1 a img {
    width: 117px;
}

/* 메뉴 영역 */
/* header .nav { } */

/* .nav .mainMenu { } */
.nav .mainMenu div {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-lg);
}

.nav .mainMenu div:hover {
    color: var(--color-bl);
}

.nav .mainMenu.view div {
    position: relative;
    color: var(--color-bl);
}

.nav .mainMenu.view div::after {
    content: "*";
    top: -7px;
    right: -10px;
    position: absolute;
    display: inline-block;
    font-family: montserrat;
    font-size: 26px;
    font-weight: 500;
    color: var(--color-bl);
}

.nav .mainMenu.open div {
    position: relative;
    color: var(--color-bl);
}


/* 서브메뉴 영역 */
.nav .subMenu {
    position: absolute;
    display: none;
    top: 179px;
    left: 0;
    width: 100%;
    border-top: 1px solid var(--color-bl);
    padding: 30px 30px 30px 40px;
}

.nav .subMenu.view {
    display: block;
}

.nav .subMenu.open {
    display: block;
}

.nav .subMenu .des {
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
    line-height: 18px;
    color: var(--color-dg);
}

.nav .subMenu>ul>li~li {
    margin-top: 3px;
}

.nav .subMenu a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 300;
    padding: 4px 8px 4px 0;
    margin-bottom: 2px;
}

.nav .subMenu a.EN {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 0;
}

.nav .subMenu li.view a::after {
    content: "*";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    font-family: montserrat;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-bl);
}

/* footer Start */
footer {
    display: block;
    padding: 40px 60px;
    border-top: 1px solid var(--color-04);
}

footer .copyright {
    display: inline-block;
    font-size: 18px;
    color: var(--color-05);
}

footer .topbutton {
    display: inline-block;
    font-size: 18px;
    color: var(--color-07);
}

footer .topbutton ::before {
    content: "\e944";
}


/* 테블릿 */



/* 모바일 */
@media (max-width: 1880px) {
    /* html, body { overflow-x: hidden; width: 100%; } */
    /* header { left: -323px; } 
header.fix { left: 0px; } */
    /* header .triggerArea { display: block; } */
    /* .gnbWrap:hover header { left: 0px; } */

    /* footer { left: -323px; } 
footer.fix { left: 0px; } */
    /* .gnbWrap:hover footer { left: 0px; } */


    /* .main { position: relative; margin-left: 0px; padding: 0 40px 0 80px; } */
    /* .main .container { margin: 0 auto; max-width: 1494px; } */
}