/* main Start */

.main_title {
    padding: 210px 0 0 0;
    max-width: 1800px;
    margin: 0 auto;
}

.main_title .title {
    font-size: 68px;
    margin-bottom: 20px;
    font-weight: 500;
}

.main_title .subtitle {
    font-size: 32px;
    font-weight: 500;
}




/* 탭메뉴 */
.menu_wrap {
    margin: 0 auto;
    max-width: 1800px;
}

.tab_menu {
    display: flex;
    font-size: 28px;
    font-weight: 400;
    padding-bottom: 48px;
}

.tab_menu a>div {
    padding: 8px 20px;
    color: var(--color-04);
    border: solid 1px var(--color-04);
    background: var(--color-00);
}

.tab_menu a:hover>div {
    color: var(--color-07);
    border: solid 1px var(--color-07);
    background: var(--color-00);
}

.tab_menu a.select>div {
    color: var(--color-00);
    border: solid 1px var(--color-07);
    background: var(--color-07);
}

.tab_menu>div:not(:first-child) {
    margin-left: 8px;
}





/* 프로젝트 Start */
.project {
    margin-bottom: 160px;
}

#web,
#pr_3d,
#visual {
    padding: 160px 0 0 0;
}

.flex_wrap {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* flex-direction: row; */
}

.project .item {
    position: relative;
    /* flex: 1 1 calc(50% - 10px); */
    flex: 0 0 calc(50% - 10px);
    box-sizing: border-box;
    overflow: hidden;
}


.project .item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.project .item:hover img {
    transform: scale(1.1);
}


.project .title_box {
    position: absolute;
    top: auto;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 32px 40px;
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.project .title_box .project_name {
    color: var(--color-00);
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 12px;
    line-height: 36px;
}

.project .title_box .sub_info {
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: var(--color-02);
    align-items: center;
}

.project .sub_info .tag {
    font-weight: 500;
    padding: 4px 8px;
    background-color: var(--color-07);
}







/* main End */


/* 테블릿 */
@media (max-width: 1240px) {

    .main_title {
        padding: 210px 0 0 0;
        max-width: 1800px;
        margin: 0 auto;
    }

    .main_title .title {
        font-size: 48px;
        margin-bottom: 20px;
        font-weight: 500;
    }

    .main_title .subtitle {
        font-size: 22px;
        font-weight: 500;
    }



    /* 탭메뉴 */
    .menu_wrap {
        margin: 0 auto;
        max-width: 1800px;
    }

    .tab_menu {
        display: flex;
        font-size: 20px;
        font-weight: 400;
        padding-bottom: 32px;
    }

    .tab_menu a>div {
        padding: 8px 16px;
        color: var(--color-04);
        border: solid 1px var(--color-04);
        background: var(--color-00);
    }

    .tab_menu a:hover>div {
        color: var(--color-07);
        border: solid 1px var(--color-07);
        background: var(--color-00);
    }

    .tab_menu a.select>div {
        color: var(--color-00);
        border: solid 1px var(--color-07);
        background: var(--color-07);
    }

    .tab_menu>div:not(:first-child) {
        margin-left: 8px;
    }







    /* 프로젝트 */
    .project .title_box .project_name {
        color: var(--color-00);
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 10px;
    }

    .project .title_box .sub_info {
        font-size: 16px;
    }


}


/* 모바일 */
@media (max-width: 1024px) {
    .section_title {
        font-size: 48px;
        font-weight: 400;
        margin-bottom: 60px;
    }

    .section_title .firstline {
        margin-bottom: 9px;
    }

    .section_title .secondline i {
        width: 25px;
        transform: translate(-7px, 7px);
    }

    .project .item {
        flex: 1 1 100%;
    }




    .project .title_box {
        position: absolute;
        top: auto;
        left: 0;
        right: 0;
        bottom: 0;
        padding: 40px 20px 24px 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    }

    .project .title_box .project_name {
        color: var(--color-00);
        font-size: 24px;
        font-weight: 600;
        line-height: 28px;
    }



}