/* main Start */
.main {
    position: relative;
    margin: 0 auto;
    padding: 0 40px 0 80px;
}

.main .container {
    margin: 0 auto;
    max-width: 1494px;
}

.main .container section {
    margin-top: 160px;
}

/* .main .container .contents { } */

/* 타이틀 */
.main .titleArea {
    margin-bottom: 20px;
}

.main .titleArea .title {
    font-size: 24px;
    margin-bottom: 8px;
    font-weight: 800;
}

.main .titleArea .title.EN {
    font-weight: 700;
}

.main .titleArea .subTitle {
    color: var(--color-dg);
    font-size: 14px;
}

/* .desArea { } */
/* 이미지 기준 설명글 구역 나누기 */
.desArea .sectionWrap {
    position: relative;
    display: flex;
    margin-bottom: 200px;
}

.desArea .sectionWrap:last-child {
    margin-bottom: 80px;
}

/* 스티키 height 값 필순데, 콘텐츠별로 높이값이 다르니까 바로 박아주기 */
/* .sectionWrap .bodyText 에 붙여줘야함!!! */
.desArea .sectionWrap .bodyText {
    display: block;
    width: 387px;
    min-width: 387px;
    font-size: 16px;
    margin-right: 80px;
}

.desArea .sectionWrap .bodyText .ps {
    font-size: 14px;
    color: var(--color-dg);
    line-height: 21px;
}

/* 세팅 */
.desArea .setting {
    margin-bottom: 50px;
}

.desArea .setting div~div {
    line-height: 1.2;
    margin-top: 8px;
}

.desArea .setting div div {
    display: inline-block;
}

.desArea .setting .title {
    font-weight: 700;
    margin-right: 8px;
}

/* 이미지 설명 */
/* .desArea .imgDes div div { display: inline-block; } */
.desArea .imgDes {
    line-height: 26px;
}

.desArea .imgDes .title {
    display: block;
    font-weight: 700;
    margin-right: 6px;
}

.desArea .imgDes .br {
    margin-bottom: 18px;
}

.desArea .imgDes .sbr {
    margin-bottom: 10px;
}

.desArea .imgDes .dot {
    font-size: 15px;
    line-height: 20px;
}

.desArea .imgDes .dot div~div {
    margin-top: 6px;
}

.desArea .imgDes .dot div::before {
    content: "■";
    display: inline-block;
    font-size: 10px;
    margin-right: 8px;
}

/* 이미지 영역 */
.desArea .imgArea {
    display: block;
    text-align: left;
}

.desArea .imgArea.fleximg {
    display: flex;
    text-align: left;
    gap: 30px;
}

.desArea .imgArea figure {
    display: block;
    text-align: center;
}

.desArea .imgArea figure .des {
    font-size: 14px;
    margin-bottom: 8px;
}

.desArea .imgArea figure img {
    box-shadow: 12px 12px 18px 0px rgba(0, 0, 0, 0.08);
}

.desArea .imgArea figure video {
    box-shadow: 12px 12px 18px 0px rgba(0, 0, 0, 0.08);
}

/* 이미지 영역이 스티키 돼야 할때는 클래스 넣어주고, 높이값 박아주기 */
.desArea .imgSticky {
    position: sticky;
    top: 239px;
}

/* 이미지 나열형 레이아웃, 스티키 안쓰는 */
.formalList {
    margin-bottom: 200px;
}

.formalList .imgArea.fleximg {
    gap: 10px;
}

.formalList .des {
    font-size: 14px;
    margin-bottom: 8px;
}


/* 모바일 */
@media (max-width: 1880px) {
    /* html, body { overflow-x: hidden; width: 100%; } */
    /* header { left: -323px; } 
header.fix { left: 0px; } */
    /* header .triggerArea { display: block; } */
    /* .gnbWrap:hover header { left: 0px; } */

    /* footer { left: -323px; } 
footer.fix { left: 0px; } */
    /* .gnbWrap:hover footer { left: 0px; } */


    /* .main { position: relative; margin-left: 0px; padding: 0 40px 0 80px; } */
    /* .main .container { margin: 0 auto; max-width: 1494px; } */
}