/* main Start */
main .main_visual {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

main .bg_video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* main End */